.titulo{
    display: flex;
    justify-content: center;
    padding-top: 30mm;
}
.formulario{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}
body{
    background-color:gray;
}
.btn{
display: flex;
justify-content: center;
height: 40px;
margin-left: 12px;

}

.inline-form{
    display:flex;
    float: left;
}
.listaItens{
    display: flex;
    margin-left: 300px;
    font-size : 25px;   
}
.card-header{
    text-align: center;
}
